extends ../layouts/default


block content

	//- wrapper
	#contentwrap.container: .jumbotron
		div.calendarContainer
				#flipbook
					//- will dynamically fill this!
					div#cover.calendar
					//- div#end.calendar
					//- 	p That's the end!
		div.right
		div.left
	
	