extends ../layouts/default


block content

	//- wrapper
	#contentwrap.container: .jumbotron
		script.
			var jokeCount = #{num};
			console.log("count: " + jokeCount);
		div.calendarContainer
				//-#jokeContainer.container
				#flipbook
					//- put one class in
					div#one.calendar
					div.calendar
					div.calendar
					div.calendar
		div.right
		div.left
	
	