extends ../layouts/default


block content

	//- wrapper
	#contentwrap.container: .jumbotron
		div.calendarContainer
				#flipbook
					//- will dynamically fill this!
					div#cover.calendar
		div.right
		div.left
	
	