extends ../layouts/default


block content
	.container: .jumbotron

		p Imagine super sweet calendar here!

		- var single = 'One-Liner'
		- var double = 'Q-and-A'

		div: .calendarContainer
				.calendar

					if result[0].jokeType === single
						p YEAH!
						h2 #{result[0].joke}
					else if result[0].jokeType === double
						p NO! 
						h2 Q:
						| #{result[0].joke}
						h2 A: 
						| #{result[0].jokeAnswer}
					else
						p FUCK
			

