extends ../layouts/default


block content
	//- wrapper
	#contentwrap.container: .jumbotron
		//-div: .cube
		//- top face
		div.calendarContainer
				#jokeContainer.container

		div.right
	//- div.right1
	//- div.right2
		//- 	div
		//- div.left
		//- 	div


	//- div: .wrap
	//- 	div: .cube
	//- 		div: .front front
	//- 		div: .back back
	//- 		div: .top top
	//- 		div: .bottom bottom
	//- 		div: .left left
	//- 		div: .right right 