extends ../layouts/default


block content
	.container: .jumbotron

		p Imagine super sweet calendar here!
		script.
			console.log("fuck you");

		- var single = 'One-Liner'
		- var double = 'Q-and-A'

		div: .calendarContainer
				.calendar
					if result[0].jokeType === single
						p YEAH!
					else if result[0].jokeType === double
						p NO!
					else
						p FUCK
						//-h2 #{result[0].joke}
			

