$primary-color: #4F4F4F;

body {
	font-family: 'Lora', serif;
}

h1 {
	font-weight: 700;
}

.container .jumbotron,
  .container-fluid .jumbotron {
    border-radius: 0px; 
}

.jumbotron {
	width: 500px;
	height: 400px;
	background-color: #FFF;
	border: 6px solid $primary-color;
}

#contentwrap {
	padding: 0;
}

#revealButton, #refreshButton, #submitButton {
	color: #FFF;
	background-color: $primary-color;
	border: 3px solid $primary-color;
}

#submitButton {
	margin-top: 1em;
	display: block;
}

#revealButton:hover, #refreshButton:hover, #submitButton:hover {
	color: $primary-color;
	background-color: #FFF;
	border: 3px dashed $primary-color;
}


.form-control {
	width: 60%;
	margin-top: 1em;
}

.form-control, #revealButton,
	#refreshButton, #submitButton {
		border-radius: 0px;
}

#name, #email {
	// Yeahhhhh not that great
	width: 29.4%;
	display: inline-block;
}

#name {
	margin: 1em 0.5em 0 0;
}

#email {
	margin: 1em 0 0 0.5em;
}

#submitTitle:hover {
	font-weight: 700;
}

///////////////////////////////////////////////////
#calWrap {
	margin: 3em 0 3em 3em;
	background-color: pink;
	-webkit-perspective: 1200px;
	position: relative;
}


.jumbotron {
	transform: rotate3d(1, -1, 1, 10deg);
	position: absolute;
	z-index: 100;
	display: inline-block;
}

.right {
	width: 20px;
	height: 399px;
	background-color: $primary-color;
	display: inline-block;
	position: absolute;
	float:right;
	-webkit-transform: skewY(45deg);
    -moz-transform: skewY(45deg);
    right: -25px;
    top: 4px;
    border: 6px solid $primary-color;
}

.left{
	width: 507px;
	height: 20px;
	display: inline-block;
	position: absolute;
	-webkit-transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	background-color: $primary-color;
	border: 6px solid $primary-color;
	left: 0;
	bottom: -25px;
}
///////////////////////////////////////////////////

//
//	Things to help deal with calendar positioning
//
#refreshButton {
	margin-top: 500px;
}

#formContainer {
	padding-left: 0;
	position: relative;
}
