$primary-gray: #4F4F4F;
$secondary-gray: #cecece;
$primary-red: #EC0000;
$secondary-red: #800000;

$calW: 500px;
$calH: 400px;

// $calW: 40em !important;
// $calH: 25em !important;

body {
	font-family: 'Lora', serif;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

h2 {
	padding: 1em 1em 0 1em;
}

h1,h2 {
	color: #000;
}

#refreshButton:focus, #submitButton:focus, 
	.revealButton:focus {
		outline: none !important;
}

.container .jumbotron,
  .container-fluid .jumbotron {
    border-radius: 0px; 
}



#contentwrap {
	padding: 0;
}

#footer {
	border-top: 4px solid $secondary-gray;
}

#footer h3, a, a:visited {
	font-weight: 700;
	color: $primary-red;
	margin-bottom: 1em;
}

#footer a {
	text-decoration: underline;
}

#footer a:hover {
	color: $secondary-red;
}

#footer span {
	font-weight: 400;
	font-size: 0.8em;
	color: #000;
}

.calendarContainer {
	margin-left: -2px;
	margin-top: -2px;
}

.page-wrapper {
	border: 30px solid transparent;
	border-image: url(/images/outline.png) 100 stretch;
	-webkit-border-image:url(/images/outline.png) 100 stretch;
	-moz-border-image:url(/images/outline.png) 100 stretch;
}

.page h2 {
	font-size: 1em;
	line-height: 1.5em;

}

.page p {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-top: 4em;
	font-style: italic;
	font-weight: 700;
}


.page div {
	width: 50%;
	margin-left: 5%;
	word-wrap: break-word;
	overflow: visible;
}

.revealButton {
	color: $primary-red;
	background-color: #FFF;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	border-radius: 0;
	margin-top: -30px;
}

.buttonFlash {
	background-color: $primary-red;
	color: #FFF;
}

.revealButton:hover {
	color: #FFF;
	background-color: $primary-red;
	// font-weight: 700;
}

#submitButton {
	margin-top: 1em;
	display: block;
	border-radius: 0;
	width: 20%;
	color: #FFF;
	border: 3px solid $primary-red;
	background-color: $primary-red;
}

#submitButton:hover {
	color: #000;
	background-color: #FFF;
	border: 3px dotted $primary-red;
	font-weight: 700;
}

#jokeContainer h2 {
	margin-bottom: 3em;
}

#innerStar {
	padding-top: 1.5em;
}

.starburst {
	display:block;
	width:6em;
	height:6em;
	background: $primary-red;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	rotation:-45deg;
	position:relative;
	top:2em;
	left:2em;
	text-align:center;
	text-decoration:none;
	color:#FFF;
}
.starburst span {
	display:block;
	width:6em;
	height:6em;
	background: $primary-red;
	-webkit-transform:rotate(22.5deg);
	-moz-transform:rotate(22.5deg);
	rotation:22.5deg;
}

#refreshButton {
	font-weight: 500;
	position: absolute;
    margin-top: 200px;
    margin-left: 4em;
    z-index: 200;
}
#refreshButton:hover {
	text-decoration: none;
	cursor: pointer;
	color: #FFF;
	font-weight: 700;
	font-size: 1.1em;
}

#oops {
	margin-top: 250px;
	visibility: hidden;
}

#spacer {
	margin-top: 300px;
	display: block;
}

#submitTitle {
	cursor: pointer;
}

#submitTitle:hover {
	font-weight: 700;
}

#formContainer {
	padding-left: 0;
	margin-left: 0;
	position: relative;
	width: 66%;
	display: none;
}

#flexCont {
	display: -webkit-flex;
	display: flex;
}

.form-control {
	margin-top: 1em;
}

#name, #email {
	display: inline-block;
	-webkit-flex: 1;
	flex: 1;
}

#name {
	margin: 1em 0.5em 0 0;
}

#email {
	margin: 1em 0 0 0.5em;
}


///////////////////////////////////////////////////
////// Definitely won't ever break
///////////////////////////////////////////////////
#calWrap {
	margin: 3em 0 3em 10em;
	-webkit-perspective: 1200px;
	position: relative;
	z-index: 100;
}

.jumbotron {
	transform: rotate3d(1, -1, 1, 10deg);
	position: absolute;
	z-index: 100;
	display: inline-block;

	width: $calW;
	height: $calH;
	background-color: #FFF;

	border: 2px solid rgba(79, 79, 79, 0);
	padding: 0;

}

@mixin skew-X($Xdeg) {
	transform: skewX($Xdeg);
	-webkit-transform: skewX($Xdeg);
    -moz-transform: skewX($Xdeg);
}

@mixin skew-Y($Xdeg) {
	transform: skewY($Xdeg);
	-webkit-transform: skewY($Xdeg);
    -moz-transform: skewY($Xdeg);
}

///////////////////////////////////////////////////



/* TurnJS stuff */

$testw: 36em !important;
$testh: 28.5em !important;

#flipbook{
    width: $testw;
    height: $testh;
    // border: 1px solid black;
    z-index: 101;
    overflow: visible !important;
}

#flipbook .page{
    width: $testw;
    height: $testh;
    background: white;
    line-height: 300px;
    font-size: 20px;
    text-align: center;
}

@mixin perspective($deg) {
	-webkit-perspective: $deg;
    -moz-perspective: $deg;
    -ms-perspective: $deg;
    -o-perspective: $deg;
    perspective: $deg;
}

#flipbook .page-wrapper{
	@include perspective(1200px);
}

@media screen and (min-width: 950px) {
	.jumbotron {
	  padding-top: 48px;
	  padding-bottom: 48px; }
	  .container .jumbotron,
	  .container-fluid .jumbotron {
	    padding: 0; }
	  .jumbotron h1,
	  .jumbotron .h1 {
	    font-size: 63px; } 
}

@media (max-width: 950px) and (min-width: 767px) {
	#flipbook {
		margin-left: -60px !important;
	}


}

@media (max-width: 950px) {
	#refreshButton {
		float:left;
		margin-left: 0;
	}

	#flipbook .page, .page-wrapper {
		width: 34em !important;
	}

	.jumbotron {
		width: 490px;
	}
}

@media (max-width: 430px) {
	#refreshButton {
		float:left;
		margin-left: 0;
		margin-top: 300px;
	}
}

#fixer {
	background-color: white;
	z-index: 1000;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
}


#vector {
	background-image: url(/images/calVector.svg);
	background-repeat: no-repeat;
	height: 560px;
	margin-left: 8.8em;
	margin-top: -6em;
}
