.container .jumbotron,
  .container-fluid .jumbotron {
    border-radius: 0px; 
}

.jumbotron {
	width: 500px;
	height: 500px;
	background-color: #FFF;
	border: 2px solid black;
}

#contentwrap {
	padding: 0;
}

#revealButton {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}

#revealButton:hover {
	color: #000;
	background-color: #FFF;
	border: 1px dashed #000;
}